In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Dam's data/Big Cliff Dam hourly data/data.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31465 entries, 0 to 31464
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Hour                 29295 non-null  object
 1   Total Outflow cfs    29269 non-null  float64
 2   Generation Flow cfs  29269 non-null  float64
 3   Spill cfs            29266 non-null  float64
 4   Forebay Elevation    29295 non-null  float64
 5   Tailwater Elevation  29295 non-null  float64
 6   Average Head         29295 non-null  float64
 7   Date                 31465 non-null  object
dtypes: float64(6), object(2)
memory usage: 1.9+ MB

In [6]:
hours = [str(i) for i in range(1,25)]

In [9]:
df = df[df["Hour"].isin(hours)]
df.head(30)

,Hour,Total Outflow cfs,Generation Flow cfs,Spill cfs,Forebay Elevation,Tailwater Elevation,Average Head,Date
0,1,1550.0,1550.0,0.0,1197.14,1109.43,87.71,4/7/2022
1,2,1560.0,1560.0,0.0,1196.14,1109.45,86.69,4/7/2022
2,3,1550.0,1550.0,0.0,1195.12,1109.41,85.71,4/7/2022
3,4,1550.0,1550.0,0.0,1194.07,1109.43,84.64,4/7/2022
4,5,1560.0,1560.0,0.0,1195.63,1109.45,86.18,4/7/2022
5,6,1580.0,1580.0,0.0,1198.32,1109.41,88.91,4/7/2022
6,7,1550.0,1550.0,0.0,1197.30,1109.38,87.92,4/7/2022
7,8,1530.0,1530.0,0.0,1196.31,1109.39,86.92,4/7/2022
8,9,1530.0,1530.0,0.0,1195.29,1109.43,85.86,4/7/2022
9,10,1520.0,1520.0,0.0,1194.26,1109.37,84.89,4/7/2022
10,11,1520.0,1520.0,0.0,1193.24,1109.37,83.87,4/7/2022
11,12,1520.0,1520.0,0.0,1192.15,1109.36,82.79,4/7/2022
12,13,1530.0,1530.0,0.0,1192.94,1109.37,83.57,4/7/2022
13,14,1530.0,1530.0,0.0,1193.93,1109.40,84.53,4/7/2022
14,15,1560.0,1560.0,0.0,1194.89,1109.41,85.48,4/7/2022
15,16,1570.0,1570.0,0.0,1195.85,1109.45,86.40,4/7/2022
16,17,1570.0,1570.0,0.0,1196.78,1109.40,87.38,4/7/2022
17,18,1600.0,1600.0,0.0,1197.66,1109.50,88.16,4/7/2022
18,19,1580.0,1580.0,0.0,1196.88,1109.46,87.42,4/7/2022
19,20,1560.0,1560.0,0.0,1195.89,1109.42,86.47,4/7/2022
20,21,1550.0,1550.0,0.0,1198.14,1109.41,88.73,4/7/2022
21,22,1570.0,1570.0,0.0,1198.52,1109.45,89.07,4/7/2022
22,23,1560.0,1560.0,0.0,1197.55,1109.41,88.14,4/7/2022
23,24,1560.0,1560.0,0.0,1196.60,1109.41,87.19,4/7/2022
29,1,1560.0,1560.0,0.0,1195.65,1109.42,86.23,4/8/2022
30,2,1560.0,1560.0,0.0,1194.79,1109.40,85.39,4/8/2022
31,3,1530.0,1530.0,0.0,1193.93,1109.42,84.51,4/8/2022
32,4,1530.0,1530.0,0.0,1193.08,1109.41,83.67,4/8/2022
33,5,1530.0,1530.0,0.0,1192.25,1109.38,82.87,4/8/2022
34,6,1530.0,1530.0,0.0,1191.38,1109.39,81.99,4/8/2022

In [11]:
df['Date'] + ' ' + df['Hour'].astype(str)

0          4/7/2022 1
1          4/7/2022 2
2          4/7/2022 3
3          4/7/2022 4
4          4/7/2022 5
             ...
31455    3/26/2025 20
31456    3/26/2025 21
31457    3/26/2025 22
31458    3/26/2025 23
31459    3/26/2025 24
Length: 26040, dtype: object

In [15]:
df['datetime'] = df['Date'] + ' ' + df['Hour'].astype(str) +':00:00'

In [26]:
df.loc[df['Hour'] == str(24) ,'datetime'] =  df['Date'] + ' ' + (df['Hour'].astype(int)-1).astype(str) +':59:59'

In [27]:
df.head(30)

,Hour,Total Outflow cfs,Generation Flow cfs,Spill cfs,Forebay Elevation,Tailwater Elevation,Average Head,Date,datetime
0,1,1550.0,1550.0,0.0,1197.14,1109.43,87.71,4/7/2022,4/7/2022 1:00:00
1,2,1560.0,1560.0,0.0,1196.14,1109.45,86.69,4/7/2022,4/7/2022 2:00:00
2,3,1550.0,1550.0,0.0,1195.12,1109.41,85.71,4/7/2022,4/7/2022 3:00:00
3,4,1550.0,1550.0,0.0,1194.07,1109.43,84.64,4/7/2022,4/7/2022 4:00:00
4,5,1560.0,1560.0,0.0,1195.63,1109.45,86.18,4/7/2022,4/7/2022 5:00:00
5,6,1580.0,1580.0,0.0,1198.32,1109.41,88.91,4/7/2022,4/7/2022 6:00:00
6,7,1550.0,1550.0,0.0,1197.30,1109.38,87.92,4/7/2022,4/7/2022 7:00:00
7,8,1530.0,1530.0,0.0,1196.31,1109.39,86.92,4/7/2022,4/7/2022 8:00:00
8,9,1530.0,1530.0,0.0,1195.29,1109.43,85.86,4/7/2022,4/7/2022 9:00:00
9,10,1520.0,1520.0,0.0,1194.26,1109.37,84.89,4/7/2022,4/7/2022 10:00:00
10,11,1520.0,1520.0,0.0,1193.24,1109.37,83.87,4/7/2022,4/7/2022 11:00:00
11,12,1520.0,1520.0,0.0,1192.15,1109.36,82.79,4/7/2022,4/7/2022 12:00:00
12,13,1530.0,1530.0,0.0,1192.94,1109.37,83.57,4/7/2022,4/7/2022 13:00:00
13,14,1530.0,1530.0,0.0,1193.93,1109.40,84.53,4/7/2022,4/7/2022 14:00:00
14,15,1560.0,1560.0,0.0,1194.89,1109.41,85.48,4/7/2022,4/7/2022 15:00:00
15,16,1570.0,1570.0,0.0,1195.85,1109.45,86.40,4/7/2022,4/7/2022 16:00:00
16,17,1570.0,1570.0,0.0,1196.78,1109.40,87.38,4/7/2022,4/7/2022 17:00:00
17,18,1600.0,1600.0,0.0,1197.66,1109.50,88.16,4/7/2022,4/7/2022 18:00:00
18,19,1580.0,1580.0,0.0,1196.88,1109.46,87.42,4/7/2022,4/7/2022 19:00:00
19,20,1560.0,1560.0,0.0,1195.89,1109.42,86.47,4/7/2022,4/7/2022 20:00:00
20,21,1550.0,1550.0,0.0,1198.14,1109.41,88.73,4/7/2022,4/7/2022 21:00:00
21,22,1570.0,1570.0,0.0,1198.52,1109.45,89.07,4/7/2022,4/7/2022 22:00:00
22,23,1560.0,1560.0,0.0,1197.55,1109.41,88.14,4/7/2022,4/7/2022 23:00:00
23,24,1560.0,1560.0,0.0,1196.60,1109.41,87.19,4/7/2022,4/7/2022 23:59:59
29,1,1560.0,1560.0,0.0,1195.65,1109.42,86.23,4/8/2022,4/8/2022 1:00:00
30,2,1560.0,1560.0,0.0,1194.79,1109.40,85.39,4/8/2022,4/8/2022 2:00:00
31,3,1530.0,1530.0,0.0,1193.93,1109.42,84.51,4/8/2022,4/8/2022 3:00:00
32,4,1530.0,1530.0,0.0,1193.08,1109.41,83.67,4/8/2022,4/8/2022 4:00:00
33,5,1530.0,1530.0,0.0,1192.25,1109.38,82.87,4/8/2022,4/8/2022 5:00:00
34,6,1530.0,1530.0,0.0,1191.38,1109.39,81.99,4/8/2022,4/8/2022 6:00:00

In [28]:
df['datetime'] = pd.to_datetime(df['datetime'], format='%m/%d/%Y %H:%M:%S')
df = df.set_index('datetime')
df.head(30)

,Hour,Total Outflow cfs,Generation Flow cfs,Spill cfs,Forebay Elevation,Tailwater Elevation,Average Head,Date
datetime,,,,,,,,
2022-04-07 01:00:00,1,1550.0,1550.0,0.0,1197.14,1109.43,87.71,4/7/2022
2022-04-07 02:00:00,2,1560.0,1560.0,0.0,1196.14,1109.45,86.69,4/7/2022
2022-04-07 03:00:00,3,1550.0,1550.0,0.0,1195.12,1109.41,85.71,4/7/2022
2022-04-07 04:00:00,4,1550.0,1550.0,0.0,1194.07,1109.43,84.64,4/7/2022
2022-04-07 05:00:00,5,1560.0,1560.0,0.0,1195.63,1109.45,86.18,4/7/2022
2022-04-07 06:00:00,6,1580.0,1580.0,0.0,1198.32,1109.41,88.91,4/7/2022
2022-04-07 07:00:00,7,1550.0,1550.0,0.0,1197.30,1109.38,87.92,4/7/2022
2022-04-07 08:00:00,8,1530.0,1530.0,0.0,1196.31,1109.39,86.92,4/7/2022
2022-04-07 09:00:00,9,1530.0,1530.0,0.0,1195.29,1109.43,85.86,4/7/2022
2022-04-07 10:00:00,10,1520.0,1520.0,0.0,1194.26,1109.37,84.89,4/7/2022
2022-04-07 11:00:00,11,1520.0,1520.0,0.0,1193.24,1109.37,83.87,4/7/2022
2022-04-07 12:00:00,12,1520.0,1520.0,0.0,1192.15,1109.36,82.79,4/7/2022
2022-04-07 13:00:00,13,1530.0,1530.0,0.0,1192.94,1109.37,83.57,4/7/2022
2022-04-07 14:00:00,14,1530.0,1530.0,0.0,1193.93,1109.40,84.53,4/7/2022
2022-04-07 15:00:00,15,1560.0,1560.0,0.0,1194.89,1109.41,85.48,4/7/2022
2022-04-07 16:00:00,16,1570.0,1570.0,0.0,1195.85,1109.45,86.40,4/7/2022
2022-04-07 17:00:00,17,1570.0,1570.0,0.0,1196.78,1109.40,87.38,4/7/2022
2022-04-07 18:00:00,18,1600.0,1600.0,0.0,1197.66,1109.50,88.16,4/7/2022
2022-04-07 19:00:00,19,1580.0,1580.0,0.0,1196.88,1109.46,87.42,4/7/2022
2022-04-07 20:00:00,20,1560.0,1560.0,0.0,1195.89,1109.42,86.47,4/7/2022
2022-04-07 21:00:00,21,1550.0,1550.0,0.0,1198.14,1109.41,88.73,4/7/2022
2022-04-07 22:00:00,22,1570.0,1570.0,0.0,1198.52,1109.45,89.07,4/7/2022
2022-04-07 23:00:00,23,1560.0,1560.0,0.0,1197.55,1109.41,88.14,4/7/2022
2022-04-07 23:59:59,24,1560.0,1560.0,0.0,1196.60,1109.41,87.19,4/7/2022
2022-04-08 01:00:00,1,1560.0,1560.0,0.0,1195.65,1109.42,86.23,4/8/2022
2022-04-08 02:00:00,2,1560.0,1560.0,0.0,1194.79,1109.40,85.39,4/8/2022
2022-04-08 03:00:00,3,1530.0,1530.0,0.0,1193.93,1109.42,84.51,4/8/2022
2022-04-08 04:00:00,4,1530.0,1530.0,0.0,1193.08,1109.41,83.67,4/8/2022
2022-04-08 05:00:00,5,1530.0,1530.0,0.0,1192.25,1109.38,82.87,4/8/2022
2022-04-08 06:00:00,6,1530.0,1530.0,0.0,1191.38,1109.39,81.99,4/8/2022

In [29]:
df.to_csv("Dam's data/Big Cliff Dam hourly data/data_clean.csv")